.experienceContainer {
	/* border: 1px solid pink; */
	padding-bottom: 90px;
}

.titleScroll {
	position: sticky;
	top: 0;
	z-index: 100;
	padding-top: 1rem;
	padding-bottom: 1rem;
	backdrop-filter: blur(5px);
	background-color: var(--background-color-blur);
}

.experienceCard {
	padding: 15px;
	border: 1px solid red;
}

.experienceDates {
	margin-bottom: 10px;
	letter-spacing: 0.025em;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.75rem;
	line-height: 1rem;
	color: var(--font-secondary-color);
}

.position {
	font-size: 1rem;
	line-height: 1.25;
	font-weight: 500;
}

.previousPosition {
	margin-top: 0.25rem;
	color: var(--font-secondary-color);
	font-size: 1rem;
	line-height: 1.25;
	font-weight: 500;
}

.experienceCardTitle {
	display: flex;
}

.experienceCardTitle svg {
	fill: var(--font-primary-color);
	margin-left: 6px;
}

.experienceCard p {
	padding: 10px 0;
	font-size: 0.875rem;
}

.experienceTechStack {
	display: flex;
	flex-wrap: wrap;
}

@media (min-width: 640px) {
	.experienceCard {
		display: flex;
	}
	.tabletUpLeft {
		min-width: 24.25vw;
	}
}

@media (min-width: 1024px) {
	.titleScroll {
		display: none;
	}
	.experienceDates {
		/* border: 1px solid green; */
	}
	.tabletUpLeft {
		min-width: 25%;
	}
	.tabletUpRight {
		/* border: 1px solid yellow; */
	}
}
