.nav {
	/* border: 1px solid blue; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 210px;
}

.infoAndLinks {
	height: 70%;
}

.nameAndTitle {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.nameAndTitle p {
	max-width: 18rem;
}

.navLinks {
	display: none;
}

/* .navLink {
	border: 1px solid orange;
	display: flex;
}

.navLink svg {
	height: 20px;
	width: 20px;
} */

.icons {
	/* border: 1px solid purple; */
}

.icons a {
	margin-right: 10px;
}

.icons svg {
	fill: var(--color-pop-tertiary);
	height: 35px;
	width: 35px;
	-webkit-transition: var(--transition-params);
	transition: var(--transition-params);
}

.icons svg:hover {
	fill: var(--font-primary-color);
}

@media (min-width: 640px) {
	.nameAndTitle h1 {
		font-size: 3rem;
		line-height: 1;
	}
	.nameAndTitle h2 {
		font-size: 1.25rem;
		line-height: 1;
	}
}

@media (min-width: 1024px) {
	.nav {
		padding: 6rem 0;
		position: sticky;
		top: 0;
		z-index: 100;
		width: 40vw;
		max-width: 640px;
		height: 100vh;
	}
	.infoAndLinks {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 360px;
	}
	.nameAndTitle {
		height: 150px;
	}
	.nameAndTitle h1 {
		font-size: 3rem;
		line-height: 1;
	}
	.nameAndTitle h2 {
		font-size: 1.25rem;
		line-height: 1;
	}
	.navLinks {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 130px;
	}
	.navLinks * {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-transition: var(--transition-params);
		transition: var(--transition-params);
	}
	.navLinks a {
		text-decoration: none;
	}
	.navLinks h3 {
		font-size: 0.75rem;
		color: var(--font-secondary-color);
	}
	.navLinks h3:hover {
		color: var(--font-primary-color);
	}
	/* .navLinks h3:before {
		left: -10%;
		right: -10%;
		content: '';
		border-left: 12px solid #9b59b6;
		border-right: 12px solid #9b59b6;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		height: 3px;
		opacity: 1;
		position: absolute;
		-webkit-transition: all 0.35s ease;
		transition: all 0.35s ease;
	} */
	/* .navLinks h3:hover,
	.navLinks .activeLink h3 {
		color: var(--font-primary-color);
	}
	.navLinks h3:hover:before,
	.navLinks .activeLink h3:before {
		left: 0;
		right: 0;
		opacity: 1;
	} */
	.navLinks .activeLink h3 {
		color: var(--font-primary-color);
	}
	.navLink {
		display: flex;
	}
	.navLink svg {
		height: 20px;
		width: 20px;
		color: var(--font-primary-color);
	}
	.icons {
	}
}
