/* .projectsContainer {
	border: 1px solid brown;
} */

.titleScroll {
	position: sticky;
	top: 0;
	z-index: 100;
	padding-top: 1rem;
	padding-bottom: 1rem;
	backdrop-filter: blur(5px);
	background-color: var(--background-color-blur);
}

.projectCard {
	padding: 15px;
	text-decoration: none;
	color: inherit;
	display: flex;
	border: 1px solid blue;
	cursor: pointer;
}

.tabletUpLeft {
	display: none;
}

.projectCardTitle {
	/* border: 1px solid red; */
	display: flex;
}

.projectCardTitle h4,
.projectCardTitle svg {
	transition: var(--transition-params);
}

.projectCard:hover .projectCardTitle h4,
.projectCard:hover .projectCardTitle svg {
	color: var(--color-pop-primary);
	fill: var(--color-pop-primary);
}

@keyframes bounceUpRight {
	0% {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(2px, -3px);
	}
	100% {
		transform: translate(0, 0);
	}
}

.projectCard:hover .projectCardTitle svg {
	color: var(--color-pop-primary);
	fill: var(--color-pop-primary);
	animation: bounceUpRight 0.75s ease-in-out infinite;
}

.projectCardTitle svg {
	fill: var(--font-primary-color);
	margin-left: 4px;
}

.projectCard h4 {
	margin-bottom: 10px;
	font-size: 1rem;
	line-height: 1.25;
	font-weight: 500;
}

.projectCard p {
	margin-bottom: 10px;
	font-size: 0.875rem;
}

.projectTechStack {
	display: flex;
	flex-wrap: wrap;
	padding-top: 10px;
}

@media (min-width: 640px) {
	.projectCard {
		display: flex;
	}
	.tabletUpLeft {
		display: block;
		min-width: 24.25vw;
		padding-top: 4px;
	}
	.projectCardImageMobile {
		display: none;
	}
}

@media (min-width: 1024px) {
	.titleScroll {
		display: none;
	}
	.tabletUpLeft {
		display: block;
		min-width: 25%;
		padding-top: 4px;
	}
}
