.nav {
	border: 1px solid blue;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 210px;
}

.nameAndTitle {
	border: 1px solid green;
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.nameAndTitle h1 {
	font-size: 35px;
}

.nameAndTitle h2 {
	font-size: 20px;
}

.navLinks {
	display: none;
}

.navLink {
	border: 1px solid orange;
	display: flex;
}

.navLink svg {
	height: 20px;
	width: 20px;
}

.icons {
	border: 1px solid purple;
}

.icons svg {
	height: 30px;
	width: 30px;
}
